.emacs.d/.abbrev
.emacs.d/.last-package-update-day
.emacs.d/.lsp-session-v1
.emacs.d/README.el
.emacs.d/elpa/
.emacs.d/projectile-bookmarks.eld
.emacs.d/projectile.cache
.emacs.d/recentf
.emacs.d/transient/
.emacs.d/.dap-breakpoints
.emacs.d/workspace
.vscode
