.CFUserTextEncoding
.DS_Store
.dropbox
.dropbox-master
.ivy2/
.sbt/
.subversion/
Desktop/
Documents/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Downloads/
*.elc
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/
.emacs.d/elpa/
.emacs.d/tramp
.ssh/
.bash_history
.lesshst
.scala_history
.Trash/
/.recentf
