.CFUserTextEncoding
.DS_Store
.dropbox
.dropbox-master
.ivy2/
.sbt/
.subversion/
Desktop/
Documents/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Downloads/
*.elc
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/
.emacs.d/elpa/
.emacs.d/tramp
.ssh/
.bash_history
.lesshst
.scala_history
.Trash/
/.recentf
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/projectile.cache
.cups/
.zcompdump-Andrew’s MacBook Air-5.0.5
.zsh_history
.zsh-update
.oh-my-zsh
Applications
.m2
.ideaLibSources
